.hidden {visibility: hidden;}
.unhidden {visibility: visible;}


@media screen and (max-width : 767px){

    /*styling for home page*/
#homePageItself {
    display: flex;
    align-content: center;
    }
#imageOfSpaghetti h1{
    font-size: 30px;
}
#imageOfSpaghetti a img{
    width: 10em;

    }    
#imageOfTacos img{
    width: 10em;
}
#imageOfTacos h1{
    font-size: 30px;

}
    /*styling for home page*/

/* styleing for my recipes tab */    
    #allButton{
    position: absolute;
    left: 120px;
    top: 150px;    
    }
    #favButton{
    position: absolute;
    left: 95px;
    top: 230px;
    }
/* styleing for my recipes tab */  
   
/* styleing for my shopping list tab */    
    #firstCheckbox{
        position: absolute;
        left: 2em;
        top: 8em;
        font-size: 20px;
    }
    #secondCheckbox{
        position: absolute;
        left: 2em;
        top: 10em;
        font-size: 20px;
    }
    #firstCheckbox input{
    height: 15px;
    width: 15px;
    }
    #secondCheckbox input{
    height: 15px;
    width: 15px;
    }
    #addButton{
    font-size: 20px;
    position: absolute;
    top: 12em;
    left: 2em;
    }  
/* styleing for my shopping list tab */   

/* styleing for my add a recipe tab */   
    .button{
    font-size: 20px;
    margin-top: 2em;
    } 
/* styleing for my add a recipe tab */   

/* styleing for my all recipes tab */   
#imageOfSpaghettiOnAll h1{
    font-size: 10px;
}
#imageOfSpaghettiOnAll a img{
    width: 10em;
    }    
#imageOfTacosOnAll img{
    width: 10em;
}
#imageOfTacosOnAll h1{
    font-size: 10px;
} 
/* styleing for my all recipes tab */   

/* styleing for my fav recipes tab */  
    #imageOfSpaghettiOnFavs a img{
    width: 10em;
    }    
    #imageOfSpaghettiOnFavs h1{
    font-size: 10px;
    }
/* styleing for my fav recipes tab */ 
    
/* styleing for my ingredients tab */ 
    #imageOfSpaghettiOnIngred img {
        width: 12em;
        position: relative;
        left: 20%;
        padding-top: 10px;
    }
    .ingredientsAndInstructions{
    font-size: 10px;
    border-width: 2px;
    border-style: solid;
    position: relative;
    margin-left: 35%;
    }
    #ingredients{
    position: absolute;
    top: 25em;
    left: -4em;
    }
    #instructions{
    position: absolute;
    top: 25em;
    left: 5em;
    }
    #time{
    position: absolute;
    left: 12em;
    top: 28em;
    font-size: 10px;
    }
    #firstCheckboxOnIngredients{
    position: absolute;
    left: 3em;
    top: 32em;
    font-size: 10px;
    }
    #secondCheckboxOnIngredients{
    position: absolute;
    left: 3em;
    top: 34em;
    font-size: 10px;
    }
    #firstCheckboxOnIngredients input{
    height: 10px;
    width: 10px;
    }
    #secondCheckboxOnIngredients input{
    height: 10px;
    width: 10px;
    }
    label button{
    font-size: 5px;
    }
/* styleing for my ingredients tab */ 
    
/* styleing for my instructions tab */ 
   #imageOfSpaghettiOnInstru img {
    width: 12em;
    position: relative;
    left: 20%;
    padding-top: 10px;
    }
    #textboxOfInstructions{
    position: absolute;
    top: 20em;
    left: 3em;
    width: 15em;
    height: 7em;
    background-color: white;
    padding: 1em;
    }
    #textboxOfInstructions ul li {
    font-size: 10px;
    }
    #textboxOfInstructions button {
    font-size: 10px;
    } 

/* styleing for my instructions tab */ 
    
/* styleing for my type in recipe tab */ 

    #endForm{
        height: 20em;
        width: 12em;
    }
    #endForm input{
        width: 12em;
        height: 30px;
        padding-top: 0px;
        margin-top: 0px;
    }

/* styleing for my type in recipe tab */    
}/*end of media query */
@media screen and (min-width : 768px){
#homePageItself {
    display: flex;
    align-content: center;
    }
/#imageOfSpaghetti h1{
    position: relative;
    left: 25%;
    font-size: 30px;
}
#imageOfSpaghetti img{
    position: relative;

    top: 20px;
    width: 40em;
    }    
#imageOfTacos img{
    position: relative;

    top: 20px;
    width: 40em;
}
#imageOfTacos h1{
    position: relative;
    font-size: 30px;
    left: 25%;

}
  
/* styleing for my recipes tab */    
    #allButton{
    position: absolute;
    left: 8.5em;
    top: 3em;
    font-size: 100px;
    }
    #favButton{
    position: absolute;
    left: 7em;
    top: 6em;
    font-size: 100px;
    }
/* styleing for my recipes tab */  
   
/* styleing for my shopping list tab */    
    #firstCheckbox{
    position: absolute;
    left: 5em;
    top: 8em;
    font-size: 50px;
    }
    #secondCheckbox{
    position: absolute;
    left: 5em;
    top: 10em;
    font-size: 50px;
    }
    #firstCheckbox input{
    height: 25px;
    width: 25px;
    }
    #secondCheckbox input{
    height: 25px;
    width: 25px;
    }
    #addButton{
    font-size: 40px;
    position: absolute;
    top: 15em;
    left: 7em;
    }  
/* styleing for my shopping list tab */   

/* styleing for my add a recipe tab */   
    .button{
    font-size: 50px;
    margin-top: 2em;
    } 
/* styleing for my add a recipe tab */   

/* styleing for my all recipes tab */   
#imageOfSpaghettiOnAll h1{
    position: relative;
    left: 25%;
    font-size: 30px;
}
#imageOfSpaghettiOnAll a img{
    position: relative;
    left: 25%;
    top: 20px;
    width: 40em;
    }    
#imageOfTacosOnAll img{
    position: relative;
    left: 25%;
    top: 20px;
    width: 40em;
}
#imageOfTacosOnAll h1{
    position: relative;
    font-size: 30px;
    left: 25%;
} 
/* styleing for my all recipes tab */   

/* styleing for my fav recipes tab */  
    #imageOfSpaghettiOnFavs{
    position: relative;
    left: 25%;
    top: 20px;
    width: 50em; 
    }    
    #imageOfSpaghettiOnFavs h1{
    position: relative;
    font-size: 30px;
    }
/* styleing for my fav recipes tab */ 
    
/* styleing for my ingredients tab */ 
    #imageOfSpaghettiOnIngred img {
    width: 50em;
    position: relative;
    left: 20%;
    top: 1em;
    }
    .ingredientsAndInstructions{
    font-size: 30px;
    border-style: solid;
    border-width: 4px;

    }
    #ingredients{
    position: absolute;
    top: 22em;
    left: 12em;
    }
    #instructions{
    position: absolute;
    top: 22em;
    left: 29em;
    }
    #time{
    position: absolute;
    left: 16em;
    top: 24em;
    font-size: 30px;
    }
    #firstCheckboxOnIngredients{
    position: absolute;
    left: 16em;
    top: 28em;
    font-size: 30px;
    }
    #secondCheckboxOnIngredients{
    position: absolute;
    left: 16em;
    top: 30em;
    font-size: 30px;
    }
    #firstCheckboxOnIngredients input{
    height: 20px;
    width: 20px;
    }
    #secondCheckboxOnIngredients input{
    height: 20px;
    width: 20px;
    }
    label button{
    font-size: 20px;
    }
/* styleing for my ingredients tab */ 
    
/* styleing for my instructions tab */ 
   #imageOfSpaghettiOnInstru img {
    width: 50em;
    position: relative;
    left: 20%;
    top: 1em;
    }

    #textboxOfInstructions{
    background-color: white;
    position: absolute;
    top: 55em;
    left: 25em;
    width: 50em;
    height: 20em;
    padding: 2em;
    }
    #textboxOfInstructions ul li {
    font-size: 30px;
}
    #textboxOfInstructions button {
    font-size: 30px;
} 

/* styleing for my instructions tab */ 
    
/* styleing for my type in recipe tab */ 

    #endForm{
    height: 30em;
    width: 30em;
    font-size: 35px;
    }
    #endForm input{
    width: 20em;
    height: 3em;
    padding-top: 5px;
    margin-top: 10px;
    }
#endForm input{
    display: block;
    width: 30em;
    height: 5em;

}
/* styleing for my type in recipe tab */
    
}/* end of media query */    
