.hidden {visibility: hidden;}
.unhidden {visibility: visible;}
body {
     background-color: #F3E1A1;
}
#chefBoyarme{
    text-align: center;
    background-color: #8191AB;
    padding: .5em;
    margin-bottom: 0;
}
nav{
    background-color: #922D03;
}
.contentsOfAll{
    position: absolute;
    top: 10em;
    left: 2em;
}
.imageOnDetails{
    margin-right: 2em;
}
.ingredientsAndInstructions{
    margin-top: 2em;
}
.marginAtBottom{
    margin-bottom: 5em;
}
/*This is a special case that stops the nav bar from overlapping the content of the page */
@media screen and (max-width : 991px){
    .contentsOfAll{
        top: 18em;
    }
}
