 body {
     background-color: #F3E1A1;
}
main h1{
    font-size: 7em;
    text-align: center;
}
#chefBoyarme{
    width: 100%;
    background-color: #8191AB;
    padding: .5em;
}

/*Nav bar contents*/

nav {
    width: 100%;
    height: 60px;
    background-color: #922D03;
}

nav ul {
    float: left;
}
nav ul li {
    width: 25em;
    float: left;
    list-style: none;
    position: relative;

}
nav ul li a {
    font-family: arial;
    color: #222;
    font-size: 14px;
    display: block;
    padding: 22px 14px;
    text-decoration: none;
    border-style: solid;
}
nav ul li ul {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
}

nav ul li ul li {
    width: 180px;
    border-radius: 4px;
}
nav ul li ul li a{
    padding:  8px 14px;

}

/*----------------------------------*/
button{
    font-size: 20px;
    position: relative;
    text-decoration: none;
    margin-left: 10px;
}

#imageOfSpaghetti{
    position: relative;
    left: 25%;
    padding-top: 10px;
}
.ingredientsAndInstructions{
    border-style: solid;
    border-width: 10px;
    border-color: black;
    padding: 10px;
    float: left;
    margin-left: 120px;
    position: relative;
    left: 11em;
}
#time{
    position: relative;
    top: 5em;

}
#firstCheckbox {
    display: block;
    position: absolute;
    top: 18em;
    left: 5em;
    cursor: pointer;
    font-size: 50px;

}
#secondCheckbox {
    display: block;
    position: absolute;
    top: 20em;
    left: 5em;
    cursor: pointer;
    font-size: 50px;

}
#firstCheckbox input{
    height: 30px;
    width: 30px;
}
#secondCheckbox input{
    height: 30px;
    width: 30px;
}

@media screen and (max-width:600px){

    #chefBoyarme{
    width: 100%;
    background-color: #8191AB;
    padding: .5em;
    font-size: 50px;
}
    #homeButton{
    margin-left: 20px;
    }
    nav {
    width: 100%;
    height: 60px;
    background-color: #922D03;
}
    nav ul {
    float: left;
}
    nav ul li {
    width: 10.5em;
    float: left;
    list-style: none;
    position: relative;
   

}
    nav ul li a {
    font-family: arial;
    color: #222;
    font-size: 14px;
    display: block;
    padding: 22px 14px;
    text-decoration: none;
}
    nav ul li ul {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
}
    nav ul li ul li {
    width: 180px;
    border-radius: 4px;
}
    nav ul li ul li a{
    padding:  8px 14px;

}
    form{
    width: 10em; 
    height: 5em;
    }
    form button{
        visibility: hidden;
    }


    #imageOfSpaghetti img {
        width: 25em;
    }

    .ingredientsAndInstructions{
    margin-left: 7em;
    font-size: 11px;
    border-width: 2px;
    }
    #time{
        position: absolute;
        left: 10em;
        top: 23em;
        font-size: 20px;
    }
    #firstCheckbox{
        position: absolute;
        left: 2em;
        top: 27em;
        font-size: 20px;
    }
    #secondCheckbox{
        position: absolute;
        left: 2em;
        top: 30em;
        font-size: 20px;
    }
    #firstCheckbox input{
    height: 20px;
    width: 20px;
    }
    #secondCheckbox input{
    height: 20px;
    width: 20px;
    }
    label button{
    font-size: 10px;
    }

}
@media screen and (max-width:320px){
    #container{
        width: 320px;
    }
}