
@media screen and (max-width : 767px){
    * {
       overflow: hidden;
    }
 body {
     background-color: #F3E1A1;
}
    #chefBoyarme{
    width: 100%;
    background-color: #8191AB;
    padding: .5em;
    font-size: 20px;
}
    #homeButton{
    margin-left: 20px;
    }
    nav {
    width: 100%;
    height: 120px;
    background-color: #922D03;
}
    nav ul {
    float: left;
}
    nav ul li {
    width: 7em;
    float: left;
    list-style: none;
    position: relative;
   

}
    nav ul li a {
    font-family: arial;
    color: white;
    font-size: 18px;
    display: block;
    text-decoration: none;
    border-style: none;
    margin-left: 5px;



}
    nav ul li ul {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;

}
    nav ul li ul li {
    width: 180px;
    border-radius: 4px;
}
    nav ul li ul li a{
    padding:  8px 14px;
    border-style: none;

}
    .search{

    height: 6em;
    background-color: #8191AB;

    }

  /*  #endForm{
        height: 20em;
        width: 20em;
    }
    #endForm input{

        width: 10em;
        height: 20px;;
        padding-top: 0px;
        margin-top: 0px;
    }
*/

}
@media screen and (min-width : 768px){
    *{
        overflow: hidden;
    }
 body {
     background-color: #F3E1A1;
}


    #chefBoyarme{
    width: 100%;
    background-color: #8191AB;
    padding: .5em;
    font-size: 70px;
            text-align: center;
}
    #homeButton{
    margin-left: 20px;
    }
    nav {
    width: 100%;
    height: 60px;
    background-color: #922D03;
}
    nav ul {
    float: left;
}
    nav ul li {
    width: 25em;
    float: left;
    list-style: none;
    position: relative;
   

}
    nav ul li a {
    font-family: arial;
    color: white;
    font-size: 30px;
    display: block;
    text-decoration: none;
    border-style: none;

}
    nav ul li ul {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;

}
    nav ul li ul li {
    width: 180px;
    border-radius: 4px;
}
    nav ul li ul li a{
    padding:  8px 14px;
    border-style: none;

}

    #endForm{
    height: 30em;
    width: 30em;
    font-size: 35px;
    }
    #endForm input{
    width: 20em;
    height: 3em;
    padding-top: 5px;
    margin-top: 10px;
    }

    .search{
    width: 100%; 
    height: 5em;
    padding-top: 1em;
    background-color: #8191AB;

    }
    .search input{
        height: 3em;
    }
}
